<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login App</title>
</head>
<body>

    <div class="container" align="center">
        <font color="red"> {{error}}</font><br><br>

        <form action="/authenticate" method="post">
            Username : <input type="text" name="username"> <br><br>
            Password  : <input type="text" name="password"><br><br>
            <input type="submit"> <br><br>
            <a href="/register"> Register here...</a>
        </form>
</div>
</body>
</html>